.globalWrapper {
  --primary-color: #4CAF50;
  --secondary-color: #333;
  --background-color: #f4f4f4;
  --text-color: #333;
  --border-radius: 8px;
  --thumbnail-border-color: #ddd;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--background-color);
}

.titleContainer {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  color: var(--primary-color);
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
  justify-items: center;
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 75%;
  height: 100%;
  border: 1px solid var(--thumbnail-border-color);

}

.videoContainer p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

.thumbnail {
  margin-top: 0.5rem;
  transition: transform 0.2s;
  width: 300px;
  height: 300px;
}

.thumbnail:hover {
  transform: scale(1.05);
  border-color: var(--primary-color);
}